*{
    font-family: sans-serif;
}

/*cabeçalho*/
header img{
    height: 60px;
    width: 70px;
}

header{
    background-color: #89a3e5c4;
    margin-bottom: 20px;
}

.login-carrinho li {
    padding-right: 20px;
}

/*Conteudo principal*/
main{
    min-height: 500px;
}

/*banner*/
#section-produtos h2{
    font-weight: bold;
    text-align: center;
    background-color: #89a3e5c4;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#section-produtos .card{
    text-align: center;
}

#section-produtos{
    margin-bottom: 50px;
}


/*Rodapé*/

/*Botão Voltar topo*/

/* página de login  */


/* Formulário de cadastro*/

footer{
    text-align: center;
    background-color: #89a3e5c4;
}

footer p {
    font-weight: bold;
    padding: 10px;
}

/* Botão voltar ao topo */
#voltar-topo{
    position: fixed;
    bottom: 60px;
    right: 50px;
}

/* página de login */
#section-login{
    margin-top: 100px;   
}

#section-login h1{
    text-align: center;
}

#section-login input{
    width: 100%;
}

#section-cadastro{
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

#form-cadastrar{
    padding: 50px;
    display: none;
}

.list-group-item{
    border: none !important;
    background-color: #89a3e5c4;
    height: 55px;
}



/* Página quem somos */

.quem-somos h1{
    border-bottom: 1px solid black;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-size: 50px;
    margin-bottom: 100px;
    background-color: #89a3e5c4;
}

.quem-somos img{
    width: 400px;
    height: 350px;
}

.quem-somos .informacoes{
    background-color: #89a3e5c4;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
}